:root {
  /* Color styles */
--color-main: rgba(246, 228, 196, 1);
--color-secondary: rgba(253, 128, 38, 1);
--color-dark-gray: rgba(107, 101, 96, 1);
--color-light-gray: rgba(169, 169, 169, 1);
--color-black: rgba(0, 0, 0, 1);
--color-yellow: rgba(246, 233, 107, 1);
--color-green: rgba(60, 154, 95, 1);
--color-white: rgba(255, 255, 255, 1);
--color-secondary-gray: rgba(169, 169, 169, 1);

/* Text-size styles */
--title1: 16px;
--title: 20px;
--text: 16px;
--input: 24px;
--text_medium: 12px;
--text-user-page: 20px;
--mobile_text: 10px;
--mobile_text_light: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial, sans-serif;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--color-main);
  }
  
  header .logo img, footer .logo img {
    width: 150px;
  }
  
  header .nav-menu {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
  }
  
  header .nav-menu select {
    padding: 5px;
    background-color: var(--color-light-gray);
    border: 1px solid var(--color-secondary-gray);
    border-radius: 5px 0 0 5px;
  }
  
  /* Search bar styling */
  .search-container {
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
  }
  
  .search-container input {
    width: 300px;
    flex-grow: 1;
    padding: 5px;
    border: 1px solid var(--color-secondary-gray);
    outline: none;
  }
  
  /* .search-container button {
    background-color: #e87d12;
    border: none;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  } */

  .search-button {
    padding: 3px;
    background-color: var(--color-secondary);
    border: none;
    color: var(--color-white);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
  
  .search-container button img {
    width: 17px;
    height: 17px;
  }
  
  header .header-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  header .header-icons a {
    margin-left: 15px;
  }
  
  header .header-icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }

.bg-main {
    background-color: var(--color-secondary);
    border-radius: 5px;
}
h2 {
  margin-top: 40px;
  margin-bottom: 30px;
}
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  .latest-books {
    margin-top: 30px;
  }
  
  .latest-books h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6E4C4;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 220px;
    margin: 20px auto;
    /* border: 3px solid #A9A9A9; */
  }

  .book-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .book-cover img {
    width: 100%;
    border-radius: 5px;
  }
  
  .book-details {
    text-align: center;
    margin-top: 10px;
  }
  
  .book-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .book-author,
  .book-date,
  .book-price {
    font-size: 14px;
    color: #333;
  }
  
  .book-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
  }
  
  .book-actions a img {
    width: 20px;
    height: 20px;
  }
  
  .book-actions a {
    display: inline-block;
  }
  
  .user-circles {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .user-circle {
    text-align: center;
  }

  .user-circle-active img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid var(--color-secondary);
  }

  .user-circle img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  /* Books Grid */
.book-section {
    margin-top: 40px;
  }
  
  .book-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .book-item {
    width: 18%;
    text-align: center;
    background-color: var(--color-main);
    padding: 10px;
    margin: 15px 0;
    border-radius: 8px;
  }
  .book-info h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  .book-info p {
    font-size: 14px;
    color: #555;
  }
  
  .book-item img {
    width: 100%;
    height: auto;
  }
  
  .book-actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }
  .read-btn, .remove-btn, .pay-btn, .change-btn{
    padding: 5px 10px;
    border-color: var(--color-light-gray);
    /* border: none; */
    border-radius: 4px;
    cursor: pointer;
  }
  
  .read-btn {
    background-color: var(--color-secondary);
    color: var(--color-white);
  }
  .remove-btn {
    background-color: #FD3838;
    color: var(--color-white);
  }
  .pay-btn {
    background-color: var(--color-green);
    color: var(--color-white);
  }
  .change-btn {
    background-color: var(--color-white);
    color: var(--color-secondary-gray);
  }
  
  /* Blog Grid */
  .blog-grid {
    display: flex;
    justify-content: space-between;
  }
  
  .blog-item {
    width: 30%;
    padding: 15px;
    border: 1px solid var(--color-main);
    border-radius: 8px;
    background-color: var(--color-main);
  }

  .blog-item img {
    width: 100%;
    height: auto;
  }
  
  .blog-content {
    padding-top: 10px;
  }
  
  /* Pricing */
  .pricing-section {
    margin-top: 40px;
  }
  
  .pricing-grid {
    display: flex;
    justify-content: space-around;
  }
  
  .pricing-item {
    text-align: center;
    padding: 20px;
    background-color: var(--color-main);
    border-radius: 10px;
    width: 30%;
  }

  .pricing-item-text {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-white);
  }
  
  /* Top Members */
  .top-members {
    margin-top: 40px;
  }
  
  .member-grid {
    display: flex;
    justify-content: space-around;
  }
  
  .top-member {
    text-align: center;
  }
  
  .top-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  /* Contact Form */
  .contact-form {
    margin-top: 40px;
  }
  
  .contact-form form {
    display: flex;

    flex-direction: column;
    background-color: var(--color-main);
    border-radius: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    margin: 10px;
    
  }
  
  .contact-form button {
    padding: 10px;
    background-color: var(--color-white);
    border: none;
    cursor: pointer;
    align-items: right;
    border-color: var(--color-secondary-gray);
    width: 120px;
  }
  
  /* Footer */
  footer {
    background-color: var(--color-main);
    color: var(--color-dark-gray);
    padding: 2rem;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer-logo img {
    height: auto;
    margin-bottom: 10px;
  }
  .footer-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  .footer-grid p {
    color: #666;
    font-size: 0.9rem;
  }

  /* Circular Navigation Buttons */
.custom-next, .custom-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-main);
  color: var(--color-dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: absolute;
  bottom: -30px; /* Position below the slider */
  cursor: pointer;
  z-index: 10;
}

/* Position the buttons */
.custom-prev {
  left: 50%;
  transform: translateX(-60px); /* Adjust based on spacing */
}

.custom-next {
  right: 50%;
  transform: translateX(60px); /* Adjust based on spacing */
}

/* User Page */
.user-container{
  display: flex;
  min-height: calc(100vh - 160px);
  width: 90%;
  margin: 34px;
}
.sidebar {
  width: 300px;
  background-color: var(--color-white);
  padding: 2rem 1rem;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin-bottom: 0.5rem;
}
.sidebar li a {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.sidebar li a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.active-sidebar {
  background-color: var(--color-light-gray);
  border-radius: 5px;
}
.sidebar li:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}


.content {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--color-white);
}

.sidebar li a span {
  flex-grow: 1;
  /* padding-left: 20px; */
}
.content h2 {
  margin-bottom: 2rem;
  font-size: 24px;
  color: #333;
}

.illustration {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-grow: 1;
}

.illustration img {
  max-width: 400px;
  height: auto;
}

.profile-info {
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary-gray);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.info-item span {
  flex: 1;
}

/* .info-item button {
  background-color: #ff8040;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
} */

.back-button {
  padding: 10px 20px;
  background-color: var(--color-main);
  /* border: none; */
  border-color: var(--color-light-gray);
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

/* myBooks css */


/* Footer css */

.footer-contact {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  max-width: 600px;
  color: var(--color-dark-gray);
  flex-direction: column;
  gap: 1rem;
}
.footer-contact img {
  width: 20px;
  height: 20px;
}
footer p {
  font-size: 0.9em;
  color: var(--color-dark-gray);
}

.footer-contact div {
  margin: 0 5px;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.social-icons {
  display: flex;
  gap: 1rem;
  font-size: 1.5em;
  color: var(--color-secondary-gray);
}
.social-icons span {
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: var(--color-dark-gray);
  color: var(--color-dark-gray);
  border-radius: 50%;
  font-size: 1.2em;
}
.social-icons img {
  width: 48px;
  height: 48px;
  filter: invert(27%) sepia(10%) saturate(300%) hue-rotate(0deg) brightness(90%) contrast(90%);
}

footer p {
  font-size: 0.9em;
  color: var(--color-dark-gray);
  text-align: center;
}


/* Customize Swiper arrows */

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 18px;
  color: var(--color-dark-gray);
}

.custom-next::after {
  content: '▶'; /* Right arrow symbol */
}

.custom-prev::after {
  content: '◀'; /* Left arrow symbol */
}

  